<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebDemo8</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbdriver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>SevletPage1</display-name>
    <servlet-name>SevletPage1</servlet-name>
    <servlet-class>com.SevletPage1</servlet-class>
    <init-param>
      <param-name>dbdriver</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sonoo</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>userpass</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SevletPage1</servlet-name>
    <url-pattern>/SevletPage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServlerPage2</display-name>
    <servlet-name>ServlerPage2</servlet-name>
    <servlet-class>com.ServlerPage2</servlet-class>
    <init-param>
      <param-name>dbdriver</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/sonoo</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>userpass</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServlerPage2</servlet-name>
    <url-pattern>/ServlerPage2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPage3</display-name>
    <servlet-name>ServletPage3</servlet-name>
    <servlet-class>com.ServletPage3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPage3</servlet-name>
    <url-pattern>/ServletPage3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPage4</display-name>
    <servlet-name>ServletPage4</servlet-name>
    <servlet-class>com.ServletPage4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPage4</servlet-name>
    <url-pattern>/ServletPage4</url-pattern>
  </servlet-mapping>
</web-app>