<beans xmlns = "http://www.springframework.org/schema/beans" 
xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="answers" class="com.Question">
	
		<constructor-arg value="1"> </constructor-arg>
		<constructor-arg value="What is JAVA ?"> </constructor-arg>
		
		<constructor-arg>
			<list>
				<value>Java is Programming lang </value>
				<value>Java is Programming lang </value>
				<value>java is Platfrom Indepedent</value>
				<value>java is Open sourse</value>
				<value>Java is a Most popular lang </value>
			</list>
		</constructor-arg>
		
		<constructor-arg>
			<set>
				<value>99999</value>
				<value>99999</value>
				<value>88888</value>
				<value>77777</value>
				<value>66666</value>
			</set>
		</constructor-arg>
		
		
		
		
		
		
	</bean>
	
	
</beans>